{
    "extends": [
      "airbnb",
      "prettier"
    ],
    "plugins": [
      "prettier"
    ],
    "rules": {
      "react/jsx-filename-extension": [
        1,
        {
          "extensions": [
            ".js",
            ".jsx"
          ]
        }
      ],
      "react/prop-types": 0,
      "no-underscore-dangle": 0,
      "import/imports-first": [
        "error",
        "absolute-first"
      ],
      "import/newline-after-import": "error",
      "arrow-body-style": ["error", "as-needed"],
      "react/function-component-definition": [0,{
        "namedComponents": ["arrow-function","function-declaration" , "function-expression"],
        "unnamedComponents": ["arrow-function","function-expression"]
      }]
    },
    "globals": {
      "window": true,
      "document": true,
      "localStorage": true,
      "FormData": true,
      "FileReader": true,
      "Blob": true,
      "navigator": true
    },
    "parser": "@babel/eslint-parser",
  }